SERVER_PORT=3000

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Keys generated via '$ openssl genrsa 512' (RSA 512)
JWT_REFRESH_TOKEN_KEY="MIIBPAIBAAJBAK/Em8nk5TBvRyoiN711AIynlWqMokm6SxwnvfBkt+KoZ+CbcDP5qHckorSW4w8Ky5NFSgb19mmcXO6SXDallxsCAwEAAQJBAJH2m8kVpJ6MSnTa5Z8XwtULdjF9iGfhpO5Esp8nhO1bu+zAxgWXLos6tg2C6Oppe7J83oMw2/FqudDeDsKH+MECIQDeskG+VpFlOkmyraVvN5REVhQ5u7dpiY+a5GVflUkPLQIhAMoNvYPs/9s3PgzZ23vU99XeNa//Txyc4r9GnF/vL+xnAiB7RuRb8GIGTnDzp2qYGYVLGveRShfrJUpIrTxs4CAUdQIhAJnF7Ua7F1np6BJ1tyG+SkP9EpT4VGgtSjBSd+5XJfzfAiEArw2Q3cuRd8rhMrYJE/Oe0kvBUft8SsVRM4oK1KZI+Mo="
JWT_ACCESS_TOKEN_KEY="MIIBPAIBAAJBAMes56hVvCME4Pil9r4cyqc/j+RTrnMnk9+dLkHpw27Anis0JTdqjlcO96QNMHPKtrwCaEYDc8emL4z99vIXe1MCAwEAAQJBAMPkLpUoH13fwHJQJ+TVTD+OjTU8n43byyf7BVGm65NvayRQN9EzxlBOw79h+9xLk+/auyEZh26gBaURwa2iBSECIQDpdZvNJ4hNcmVum6yaxJfgBDHFOKb9jBAWPr9/kE928QIhANr0QsQUFw1TmkHqeuwd6hzvx0KdB0CinBD2tr+5E36DAiEAz+sFYhYGJ2tteK++bmwOEt3Jcas91evq29TweeyNSRECIQCtVJqaMLFDCoDeV6pxywivWZ4rfLXmFBRqVXS8d94X0wIgNHcleY/Amxu3rmOhuTw3ndUmsKc02mXqznToJbaiO2Y="